/*
names: Azam, Brandon, David, Trey
class: CS3300
*/


/*Page Headers*/
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-container a {
    color: inherit;
    text-decoration: none;
}
.left-header, 
.left-header h2,
.left-header a {
    flex: 1;
    display: flex;
    text-align: left;
    flex-direction: row;
}
.left-header img {
    width: 75px;
    height: 75px;
    border-radius: 35px;
}
.center-header {
    text-align: center;
    flex: 1;
}
.center-header img {
    width: 400px;
    height: 150px;
    border-radius: 15px;
}
.right-header {
    text-align: right;
    flex: 1;
}

/*End Page Headers*/

/*Games List*/

/*List Container*/
.games-container {
    margin-top: 45px;
}
.games-container,
.games-container img,
.games-container a 
.games-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Search Bar*/
.game-search {
    display: flex;
    flex-direction: column;
}
.game-search input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    background-color: darkgray;
}

/*Individual Game Item*/
.game {
   text-align: center; 
}
.game img {
    width: 150px;
    height: 75px;
    border-radius: 5px;
}
/*END Games List*/


/*User Form*/
.user-form,
.user-form label,
.user-form input,
.user-form button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.user-form input {
    margin: 0 auto;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: darkgray;
}
.user-form button {
    margin: 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    background-color: lightblue;
    color: black;
}
.user-form span,
.user-form label {
    display: inline-block;
}
.user-form span {
    color:#e12f47; 
}
/*END User Forms*/
