/*
names: Azam, Brandon, David, Trey
class: CS3300
*/


/*Page Headers*/
.header-container {
    display: flex;
    justify-content: space-between;
}
.left-header {
    text-align: left;
    flex: 1;
}
.center-header {
    text-align: center;
    flex: 1;
}
.right-header {
    text-align: right;
    flex: 1;
}
.center-header img {
    width: 500px;
    height: 200px;
    border-radius: 15px;
}
/*End Page Headers*/

/*Games List*/
.games-container,
.games-container img,
.games-container a {
    display: flex;
    flex-direction: column;
}
.game {
   text-align: left; 
}
.game img {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
/*END Games List*/


/*User Form*/
.user-form,
.user-form label,
.user-form input,
.user-form button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.user-form input {
    margin: 0 auto;
    width: 150px;
}
.user-form button {
    margin: 0 auto;
}
/*END User Forms*/
