/*
names: Azam, Brandon, David, Trey
class: CS3300
*/


/*All Page Headers*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-header {
    text-align: left;
    flex: 1;
}
.center-header {
    text-align: center;
    flex: 1;
}
.right-header {
    text-align: right;
    flex: 1;
}
/*End All Page Headers*/

/*User Forms*/
.user-form,
.user-form label,
.user-form input,
.user-form button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.user-form input {
    margin: 0 auto;
    width: 150px;
}

.user-form button {
    margin: 0 auto;
}
/*END User Forms*/
