/*
names: Azam, Brandon, David, Trey
class: CS3300
*/


/*header formatting*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-header {
    text-align: left;
    flex: 1;
}

.center-header {
    text-align: center;
    flex: 1;
}

.right-header {
    text-align: right;
    flex: 1;
}
.sign-up-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    float: center;
}

.sign-in-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    float: center;
}

input.sign-in-input {
    width: 150px;
    margin: 0 auto;
}

input.sign-up-input {
    width:150px;
    margin: 0 auto;
}