/*
names: Azam, Brandon, David, Trey
class: CS3300
*/


/*header formatting*/
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav.header-container {
    justify-content: right;
}

.sign-up-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}
