/*
names: Azam, Brandon, David, Trey
class: CS3300
*/

/*Home Page*/
.homepage {
    background: linear-gradient(45deg, #141414, #19232a);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.homepage h1 {
    font-size: 40px;
    font-family: 'Gravitas One', serif;
    font-weight: 400;
    font-style: normal;
}
/*Page Headers*/
.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-container a {
    color: inherit;
    text-decoration: none;
}
.left-header, 
.left-header h2,
.left-header a {
    flex: 1;
    display: flex;
    text-align: left;
    flex-direction: row;
    margin: 8px;
}
.left-header img {
    width: 50px;
    height: 50px;
    border-radius: 18px;
    margin-right: 8px;
}
.center-header {
    text-align: center;
    flex: 1;
    white-space: nowrap;
    margin-top: 40px;
    
}
.center-header img {
    width: 400px;
    height: 150px;
    border-radius: 15px;
}
.right-header {
    text-align: right;
    flex: 1;
    margin-top: 20px;
    margin-right: 25px;
}

/*End Page Headers*/

/*Games List*/

/*List Container*/
.games-container {
    margin-top: 45px;
    color: #FFED29;
}
.games-container,
.games-container img,
.games-container a 
.games-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}
.games-container h2 {
    font-size: 30px;
}

/*Search Bar*/
.game-search {
    display: flex;
    flex-direction: column;
    color: white;
}
.game-search input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    background-color: darkgray;
}
.game-search label {
    font-size: 22px;
}

.games-list {
    display: flex;
    flex-direction: row;
}
/*Individual Game Item*/
.game {
   text-align: center; 
   color: white;
   margin: 10px;
}
.game img {
    width: 400px;
    height: 260px;
    border-radius: 5px;
}
.game label {
    font-size: 25px;
}
/*END Games List*/


/*User Form*/
.user-form {
    color: white;
}
.user-form,
.user-form label,
.user-form input,
.user-form button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.user-form input {
    margin: 0 auto;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: darkgray;
}
.user-form button {
    margin: 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    background-color: #FFED29;
    color: black;
}
.user-form span,
.user-form label {
    display: inline-block;
}
.user-form span {
    color:#e12f47; 
}
/*END User Forms*/
